:root {
   --left-margin: 50px;
}

* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

@font-face {
   font-family: "Norse Bold";
   src: url(./images-logos-fonts/Norse-Bold.otf);
}

main {
   display: flex;
   min-height: calc(100vh - 40px);
}

.img-section {
   background-image: url('./images-logos-fonts/fern-by-halie-west.jpg');
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 3;
   color: white;
   text-align: center;
}

.img-section a {
   color: white;
}

.img-section p {
   font-size: 0.9rem;
   margin-bottom: 0.1rem;
}

.logo-section {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.4);
   margin-top: 20vh;
   font-family: 'Norse Bold';
   font-size: 5rem;
   padding: 1rem;
}

.logo-section img {
   height: 100px;
}

.form-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex: 5;
   background-color: #f9fafb;
}

.form-section p {
   font-weight: bold;
   margin-left: var(--left-margin);
   max-width: 90%;
   margin-bottom: 20px;
}

.form-container {
   background-color: white;
   margin-top: 2rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
   padding-left: var(--left-margin);
}

.form-container h3 {
   margin-bottom: 1rem;
}

.form-container label {
   letter-spacing: 0.1rem;
}

fieldset {
   display: flex;
   gap: 3rem;
   border: none;
}

.form-cell {
   display: flex;
   flex-direction: column;
   width: 40%;
   margin: 1rem 0;
   white-space: nowrap;
}

form input {
   border: 1px solid #D6D9DC;
   border-radius: 4px;
   padding: 0.5rem;
   font-size: 1rem;
   margin-top: 0.2rem;
}

input:focus {
   outline: 1px solid blue;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

#createAccount {
   background-color: #596D48;
   color: white;
   border: none;
   padding: 15px 40px;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   font-weight: bold;
   margin-top: 2rem;
   margin-left: var(--left-margin);
}

.log-in {
   font-weight: bold;
   margin-top: 2rem;
}

.log-in a {
   color: #596D48;
   text-decoration: none;
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40px;
   font-size: 14px;
   background-color: lightgoldenrodyellow;
}